<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>Delete Employee details</h1>
</head>
<body bgcolor="red">
<form action="/deleteempnew" method="POST">
Enter the employee id to delete.
<input type="empid" name="empid" placeholder="Employee id"><br>
<input type="submit" value="Delete">
<Br>
</form>
<br>

<button onclick="window.location.href = 'http://127.0.0.1:5000/';">Home</button>
<center><img src="/static/delete.jpg" style ="width:400px;height:400px"></center>

</body>
</html>