<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quotes</title>
</head>
<body bgcolor="seablue">
<center><h1 style="color:red">NO BIRTHDAYS TODAY</h1></center>
<BR>
<Br>
<img src="/static/quotes.jpg" ALIGN=right style ="width:600px;height:400px">
<h3 style="color:yellow"><li>Truth can be stated in a thousand different ways, yet each one can be true</li></h3>
<h3 style="color:yellow"><li>You cannot believe in God until you believe in yourself</li></h3>
<h3 style="color:yellow"><li>Arise! Awake! and stop not until the goal is reached</li></h3>
<h3 style="color:yellow"><li>God is to be worshipped as the one beloved, dearer than everything in this and next life</li></h3>
<h3 style="color:yellow"><li>The world is the great gymnasium where we come to make ourselves strong</li></h3>
<h3 style="color:yellow"><li>External nature is only internal nature writ large</li></h3>
<h3 style="color:yellow"><li>That man has reached immortality who is disturbed by nothing material</li></h3>
<h3 style="color:yellow"><li>In one word, this ideal is that you are divine</li></h3>
<h3 style="color:yellow"><li>Comfort is no test of truth. Truth is often far from being comfortable</li></h3>
<h3 style="color:yellow"><li>Arise, awake, stop not till the goal is reached</li></h3>

</body>
</html>