<html>
    <body bgcolor="green">
    <script>
        var timer = setTimeout(function() {
            window.location='http://localhost:5000/page2'
        }, 7000);
    </script>

    <center><h1>Hello <b style="color:white">KPN</b> TechMighties !!!</h1></center>
    <center><h1><b style="color:Red">WELCOME TO</b>!!!</h1></center>
    <center><h1><b style="color:white">BIRTHDAY DASHBOARD</b>!!!</h1></center>
    <br>
    <br>

    <center><img src="/static/page1.jpg" style ="width:400px;height:400px"></center>

</body>
</html>